    .footer {
        clear: both;
        background-color: #f7f7f7;
        width: 100%;
        height: 280px;
        text-align: center;
        // position: relative;
        .footer-icon {
            padding: 50px;
        }
        .footer-des {
            font-family: "Gabriola";
            font-size: 25px;
            color: #7a6051;
            .footer-note {
                font-family: "Noto Sans TC";
                font-size: 14px;
            }
        }
        .top a {
            width: 80px;
            position: fixed;
            right: 0;
            bottom: 0;
            transition: all 1.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
            img:hover {
                animation: jump 0.8s infinite;
            }
        }
    }
    
    @keyframes jump {
        0% {
            transform: translate(0px, 0px);
        }
        50% {
            transform: translate(0px, -40px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
    
    @media (max-width:992px) {
        .footer {
            .top a {
                width: 80px;
                position: fixed;
                right: 0;
                bottom: 60px;
                transition: all 1.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
                img:hover {
                    animation: jump 0.8s infinite;
                }
            }
            .footer-note {
                display: none;
            }
        }
    }